# Node dependencies
**/node_modules

# Local env files
**/.env
backend/.env
mobile/.env
frontend/.env

# Local database and repo metadata
backend/database.sqlite
mobile/.git

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build outputs
frontend/dist
mobile/.expo
mobile/web-build
